
#text-red{
    color: red;
}
#text-green{
    color: rgb(119, 186, 107);
}
#text-big{
    font-size: 50px;
}
#text-blue{
    color: blue;
}
.text-medium{
    font-size: 30px;
}
#text-doble{
    text-decoration: underline overline;
}
div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 80px 150px ;
}